@model TSSN.FTE.Insurance.DTO.EditTransDto
<div id="horizontal-form">
    @*<form action='@Url.Action("Edit", "Trans")' method="post" class="form-horizontal" role="form">*@
    @using (Html.BeginForm("Edit", "Trans", FormMethod.Post, new { @class = "form-horizontal editTrans" }))
    {
        @Html.HiddenFor(m => m.TransId);
        @Html.HiddenFor(m => m.CompanyInsuranceId);

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="PatientNationalCode" class="col-sm-4 control-label">کد ملی بیمار</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.PatientNationalCode, new { @readonly = "readonly", @class = "form-control bg-lightgray farsi-digit" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="MainNationalCode" class="col-sm-4 control-label">کد ملی بیمه شده اصلی</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.MainNationalCode, new { @readonly = "readonly", @class = "form-control bg-lightgray farsi-digit" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="PatientName" class="col-sm-4 control-label">نام و نام خانوادگی بیمار</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PatientName, new { @readonly = "readonly", @class = "form-control bg-lightgray" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="MainName" class="col-sm-4 control-label">نام و نام خانوادگی پرسنل</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.MainName, new { @readonly = "readonly", @class = "form-control bg-lightgray" })
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-top:0" />

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="TransDate" class="col-sm-4 control-label">تاریخ هزینه</label>
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.TransDate)
                        @Html.ValidationMessageFor(m => m.TransDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="TariffCategoryId" class="col-sm-4 control-label">نوع هزینه</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.TariffCategoryId, new SelectList(Model.TariffCategoryList, "Id", "Title"), "---انتخاب کنید---", new { @class = "form-control", @style = "padding-top:0" })
                        @Html.ValidationMessageFor(m => m.TariffCategoryId, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="TransAmount" class="col-sm-4 control-label">مبلغ هزینه</label>
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.TransAmount, new { htmlAttributes = new { @class = "form-control farsi-digit numbers", maxlength = "20" } })
                        @*@Html.TextBoxFor(m => m.TransAmount, new { @class = "form-control font-num numbers", maxlength = "10" })*@
                        @Html.ValidationMessageFor(m => m.TransAmount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="OraghTedad" class="col-sm-4 control-label">تعداد اوراق ضمیمه(برگ)</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PageCount, new { @class = "form-control farsi-digit", maxlength = "5" })
                        @Html.ValidationMessageFor(m => m.PageCount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row form-footer">
            <div class="col-sm-12">
                <button id="inputSubmit" type="submit" class="btn btn-primary waves-effect waves-light submitEditTrans"> <i class="fa fa-save m-r-5"></i> <span>ویرایش</span> </button>

                <button class="btn btn-default waves-effect" data-dismiss="modal"><i class="fa fa-ban m-r-5"></i> <span>انصراف</span></button>
            </div>
        </div>

    }
    @*</form>*@
</div>
