@using TSSN.FTE.Insurance.Web.Common.Extentions;
@model TSSN.FTE.Insurance.DTO.SearchTransDto
@{
    ViewBag.Title = "List";
}

@section contents {
    @Styles.Render("~/Content/datatable")
    <link href="~/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />
    <style>
        .hide_column {
            display: none;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box" style="height:40px;padding-top:9px;">
            <ol class="breadcrumb pull-left">
                <li><a href="#">هزینه ها</a></li>
                <li class="active">ارسال هزینه</li>
            </ol>
            @*<h4 class="page-title">فرم ثبت هزینه</h4>*@
        </div>
    </div>
</div>


@*Confirm Modal*@
<div class="modal fade" id="confirm-send" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">هشدار</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong>توجه! </strong>  پس از ارسال هزینه ها، امکان ویرایش وجود ندارد.
                </div>
                <div>آیا از ارسال هزینه های اننخابی اطمینان دارید؟</div>

            </div>
            <div class="modal-footer">
                <button id="btnConfirmSend" type="button" class="btn btn-primary">ارسال</button>
                <button data-dismiss="modal" type="button" class="btn btn-default">انصراف</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="filter-box">
            <button aria-controls="show-search" aria-expanded="false" class="btn btn-search waves-effect waves-light btn-block" data-target="#show-search" data-toggle="collapse" type="button">
                <i class="fa fa-search"></i>
                جهت تنظیم گزینه های جستجو کلیک کنید
            </button>
        </div>
        <div class="card-box table-responsive">
            @Html.Partial("_SearchTrans", Model)
            <button id="sendTrans" type="button" class="btn btn-primary w-lg waves-effect waves-light m-b-5" data-toggle="modal" data-target="#confirm-send"><i class="fa fa-mail-forward btn-icon"></i>ارسال هزینه ها</button>

            <table id="datatable" class="table table-striped table-bordered table-hover">
                <thead class="bordered-primary">
                    <tr>
                        <th>
                            <div class="checkbox checkbox-primary checkbox-single">
                                <input type="checkbox" aria-label="Single checkbox One">
                                <label></label>
                            </div>
                        </th>

                        <th style="display:none"></th>
                        <th>
                            کد ملی بیمار
                        </th>
                        <th>
                            نام و نام خانوادگی بیمار
                        </th>
                        <th>
                            کد ملی پرسنل
                        </th>
                        <th>
                            نام و نام خانوادگی پرسنل
                        </th>
                        <th>
                            نوع هزینه
                        </th>
                        <th>
                            نسبت
                        </th>
                        <th>
                            تاریخ هزینه
                        </th>
                        <th>
                            مبلغ هزینه (ریال)
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section scripts {


    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundle/core-app")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    <script src="~/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>

    <script type="text/javascript">
       
        // #region Datatable

        var oTable = $('#datatable').DataTable({
            "bFilter": false,
            "bLengthChange": false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": '@Url.Action(MVC.Trans.ActionNames.GetCreatedTransList, MVC.Trans.Name)',
            "sServerMethod": "GET",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": function (data) {
                        //hideLoading();
                        if (data == false) {
                            errorNotify('خطا در پردازش اطلاعات رخ داده است.')
                        }
                        else
                            fnCallback(data);
                    }
                });
            },
            "fnServerParams": function (aoData) {
                var CompanyInsuranceId = $("#searchTransForm #CompanyInsuranceId").val();
                var tariffCategoryId = $("#searchTransForm #TariffCategoryId").val();
                var transDate = $("#searchTransForm #TransDate").val();
                var patientNationalCode = $("#searchTransForm #PatientNationalCode").val();
                var mainNationalCode = $("#searchTransForm #MainNationalCode").val();
                var patientName = $("#searchTransForm #PatientName").val();
                var mainName = $("#searchTransForm #MainName").val();

                aoData.push({ name: "CompanyInsuranceId", value: CompanyInsuranceId });
                aoData.push({ name: "TariffCategoryId", value: tariffCategoryId });
                aoData.push({ name: "TransDate", value: transDate });
                aoData.push({ name: "PatientNationalCode", value: patientNationalCode });
                aoData.push({ name: "MainNationalCode", value: mainNationalCode });
                aoData.push({ name: "PatientName", value: patientName });
                aoData.push({ name: "MainName", value: mainName });
            },
            //"iDisplayLength": 10,
            "aaSorting": [[1, 'desc']],
            "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
            "language": {
                "lengthMenu": "نمایش _MENU_ رکورد در صفحه",
                "zeroRecords": "رکوردی یافت نشد",
                "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "infoEmpty": "",
                "paginate": {
                    "first": "اول",
                    "last": "آخر",
                    "next": "بعدی",
                    "previous": "قبلی"
                },
            },
            "aoColumns": [
                {
                    "searchable": false,
                    "orderable": false,
                    "mDataProp": "Checked",
                    "mRender": function (data, type, full) {
                        return '<div class="checkbox checkbox-primary checkbox-single">' +
                             '<input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One">' +
                             '<label></label>' +
                        ' </div>'
                    },
                    className: "dt-body-center"
                },

                { className: "farsi-digit hide_column", "mDataProp": "TransId" },
                { className: "farsi-digit", "mDataProp": "PatientNationalCode" },
                { "mDataProp": "PatientName" },
                { className: "farsi-digit", "mDataProp": "MainNationalCode" },
                { "mDataProp": "MainName" },
                { "mDataProp": "TariffCategoryTitle" },
                { "mDataProp": "RelationTitle" },
                { className: "farsi-digit", "mDataProp": "TransDateFa" },
                { className: "farsi-digit", "mDataProp": "FormattedTransAmount" },
            ]
        });
        //#endregion

        // #region filter

        $(document).on("click", ".trans-search-button", function (event) {
            refreshTable();
        });

        $(document).on("click", ".trans-remove-filtr", function (event) {

            $("#searchTransForm #TariffCategoryId").val('');
            $("#searchTransForm #TransDate").val('');
            $("#searchTransForm #PatientNationalCode").val('');
            $("#searchTransForm #MainNationalCode").val('');
            $("#searchTransForm #PatientName").val('');
            $("#searchTransForm #MainName").val('');

            refreshTable();
        });

        // #endregion

        //#region Select All Checkbox
        var selectAll = false;

        $('#datatable thead th input[type=checkbox]').change(function () {
            selectAll = $(this).is(":checked");
            selectAllCheckBoxes('datatable');
        });
        //#endregion

        //#region refreshTable()
        function refreshTable() {
            var table = $('#datatable').DataTable();
            table.ajax.reload();
        }
        // #endregion

        //#region Loading
        function showLoading() {
            $("#LoadingImage").show();
            $("#BackPannel").show();
        }

        function hideLoading() {
            $("#LoadingImage").hide();
            $("#BackPannel").hide();
        }
        //#endregion

        // #region SendTrans

        function closeConfirmModal() {
            $('#confirm-send').modal('hide');
        }

        $('#sendTrans').click(function (e) {
            if (selectAll == false) {
                return onSelectableDataTableButton('datatable', 'هیچ هزینه ای جهت ارسال انتخاب نشده است');
            }
        });

        $('#btnConfirmSend').click(function (e) {
            var ids = new Array();

            if (selectAll == false) {
                ids = getSelectableRowIds('datatable');
            }
            e.preventDefault();
            showLoading();

            $.ajax({
                type: "POST",
                url: '@Url.Action(MVC.Trans.ActionNames.SendTransToInsurance, MVC.Trans.Name)',
                data: {
                    TransIds: ids,
                    IsSelectAll: selectAll,
                    CompanyInsuranceId: $("#searchTransForm #CompanyInsuranceId").val(),
                    PatientName: $("#searchTransForm #PatientName").val(),
                    PatientNationalCode: $("#searchTransForm #PatientNationalCode").val(),
                    MainName: $("#searchTransForm #MainName").val(),
                    MainNationalCode: $("#searchTransForm #MainNationalCode").val(),
                    TransDate: $("#searchTransForm #TransDate").val(),
                    TariffCategoryId: $("#searchTransForm #TariffCategoryId").val()
                },
                success: function (data) {
                    hideLoading();
                    if (data.success) {
                        $('#datatable thead th input[type=checkbox]').prop("checked", false);
                        closeConfirmModal();
                        refreshTable();
                        swal({
                            title: "اطلاعات شما با موفقیت ارسال شد",
                            text: "کد پیگیری شما: " + data.trackingNo,
                            type: "success",
                            confirmButtonClass: 'btn-primary',
                            confirmButtonText: "تایید"
                        });
                    }
                    else {

                        errorNotify('اشکال در ارسال اطلاعات، لطفا مجددا تلاش نمایید')
                    }
                    selectAll = false;
                },
                error: function (data) {
                    //hideLoading();
                    errorNotify('اشکال در ارسال اطلاعات، لطفا مجددا تلاش نمایید')
                }
            });
        });
        // #endregion

        //#region CompanyInsuranceId-change
        $("#searchTransForm #CompanyInsuranceId").change(function (e) {
            var compInsue = $("#searchTransForm #CompanyInsuranceId").val();
            getUserDate(compInsue);
            getTariffCategoryData(compInsue);

        });
        //#endregion

        //#region tariffCategory list
        var getTariffCategoryData = function (companyInsuranceId) {
            var procemessage = "<option value='0'> لطفا منتظر بمانید...</option>";
            $("#searchTransForm #TariffCategoryId").html(procemessage).show();
            var url = '@Url.Action(MVC.Trans.ActionNames.GetCompanyTariffCategoryList, MVC.Trans.Name)';
            $.ajax({
                url: url + "?companyInsuranceId=" + companyInsuranceId,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (data) {
                    var markup = "<option value='0'></option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Id + ">" + data[x].Dess + "</option>";
                    }
                    $("#searchTransForm #TariffCategoryId").html(markup).show();
                }
            });
        }
        //#endregion
    </script>
}

